h1.animal1 {
    color: blueviolet;
}
h1.animal2 {
    color: yellow;
}
h1.animal3 {
    color: rgb(55, 0, 255);
}


.animal1 {
    color: thistle;
}
.animal2 {
    color: tomato;
}
.animal3 {
    color: red;
}

