.parent p {
    color: blue;
}

.parent .abc p:first-child {
    color:saddlebrown;
}

.parent p:last-child {
    color:rebeccapurple;
    font-weight: bold;
}

.parent p:first-child {
    color:red;
}

body > div > div ~ p {
    background-color: rgba(13, 139, 40, 0.911);
}


p {
    color: yellow;
}

h1 p:first-child {
    color: green;
}

p:first-child {
    color: blue;
}


/* div:first-child {
    background-color: lavenderblush;
} */

/* body > div  {
    background-color: lightsalmon;
} */

div > div  {
    background-color: violet;
}

/* is Arvydo dalies su PSEUDO failui */

p:last-child {
    color: red;
}


body > div > div ~ p {
    background-color: firebrick;
}


div :nth-child(odd) {
    border: 1px solid black; 
} 